## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
# Your code here
population = range(1,101)
sample_list_1=random.sample(population,80,counts=None)
print(sample_list_1)

[51, 57, 86, 84, 81, 10, 8, 49, 73, 98, 33, 80, 50, 77, 55, 72, 89, 7, 19, 69, 43, 12, 15, 28, 40, 25, 90, 56, 16, 75, 6, 13, 64, 29, 2, 91, 32, 82, 45, 24, 9, 52, 65, 99, 47, 27, 61, 85, 93, 76, 71, 100, 87, 31, 63, 70, 68, 3, 53, 62, 59, 60, 58, 88, 20, 78, 36, 83, 5, 23, 26, 97, 46, 94, 42, 30, 79, 67, 21, 17]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [8]:
# Your code here
set1=set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [16]:
# Your code here
sample_list_2=[]

for i in range(1,80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[76, 44, 85, 47, 51, 49, 38, 29, 8, 64, 92, 61, 32, 5, 47, 89, 9, 48, 33, 35, 57, 34, 36, 69, 18, 18, 92, 28, 98, 75, 3, 71, 36, 25, 77, 45, 32, 87, 37, 22, 67, 17, 15, 61, 62, 56, 49, 71, 78, 78, 63, 44, 7, 95, 97, 66, 12, 74, 72, 96, 44, 12, 49, 86, 48, 40, 10, 99, 70, 100, 46, 8, 97, 4, 0, 74, 69, 8, 52]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [17]:
# Your code here
set2=set(sample_list_2)
len(set2)

60

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [31]:
# Your code here
set3 = {}
set3=set(set3)
for i in range(0,101):
    if i in set1 and i not in set2:
        set3.add(i)
        
print(set3)

{2, 6, 13, 16, 19, 20, 21, 23, 24, 26, 27, 30, 31, 42, 43, 50, 53, 55, 58, 59, 60, 65, 68, 73, 79, 80, 81, 82, 83, 84, 88, 90, 91, 93, 94}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [32]:
# Your code here
set4 = {}
set4=set(set4)
for i in range(0,101):
    if i not in set1 and i in set2:
        set4.add(i)
        
print(set4)

{0, 96, 34, 35, 4, 37, 38, 66, 74, 44, 48, 18, 22, 92, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [33]:
# Your code here
set5= {}
set5=set(set5)
for i in range(0,101):
    if i in set1 and i in set2:
        set5.add(i)
print(set5)

{3, 5, 7, 8, 9, 10, 12, 15, 17, 25, 28, 29, 32, 33, 36, 40, 45, 46, 47, 49, 51, 52, 56, 57, 61, 62, 63, 64, 67, 69, 70, 71, 72, 75, 76, 77, 78, 85, 86, 87, 89, 97, 98, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [36]:
# Your code here
len(set1)+len(set2)-2*len(set5)==len(set3)+len(set4)

True

#### Create an empty set called `set6`.

In [37]:
# Your code here
set6={}
set6=set(set6)

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [38]:
# Your code here
set6.update(set3,set5)

#### Check if `set1` and `set6` are equal.

In [39]:
# Your code here
set6==set1

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [43]:
# Your code here
check=set2.issubset(set1)
print(check)

False

In [44]:
check2=set3.issubset(set1)
print(check2)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [45]:
# Your code here
agg1=set3.union(set4,set5)
agg2=set1.union(set2)
agg1==agg2

True

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here
#It is not possible because a set is unordered

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [46]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove :
    if i in set1 :
        set1.remove(i)
print(set1)

{2, 3, 5, 6, 7, 8, 10, 12, 13, 15, 16, 17, 20, 23, 24, 25, 26, 27, 28, 30, 32, 33, 36, 40, 42, 43, 45, 46, 47, 50, 52, 53, 55, 56, 57, 58, 60, 62, 63, 64, 65, 67, 68, 70, 72, 73, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 93, 94, 97, 98, 100}